 body {
      background-color: red;
      color: white;
      font-family: Arial, sans-serif;
      padding: 20px;
    }

.status {margin-top:10px;}

    .payment-details {display:none; margin-top:10px;}

    .logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: absolute;
  left: 1%;
}
h2 {
      text-align: center;
      color: white;
      font-size: 24px;
      margin-bottom: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }

    form {
      height: 80vh;
        padding: 60px;
        max-width: 500px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 70px;
      border: 2px solid #fff;
      animation: mudar-cor 4s infinite;
      border-radius: 15px;
      background-color: #f73636;
    }

    @keyframes mudar-cor {
  0% { box-shadow: 0 0 15px #00ffff; }
  33% { box-shadow: 0 0 15px #ff00ff; }
  66% { box-shadow: 0 0 15px #ffff00; }
  100% { box-shadow: 0 0 15px #00ffff; }
}


.perfil-container {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .perfil-container:hover {
   
  }
  
  .perfil-texto {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

    label {
      font-weight: bold;
      display: block;
      margin-top: 20px;
      margin-left: 13%;
      ;
    }

    input, select {
      width: 50vh;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid white;
      border-radius: 6px;
      background: #ff2f2f;
      color: white;
      margin-left: 13%;
    }

    button {
      margin-left: 13%;
      margin-top: 30px;
      width: 50vh;
      padding: 12px;
      font-size: 18px;
      background-color: #222;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background-color: #444;
    }

    .mensagem {
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
    }

    #fotoPerfil {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  bottom: 15px;
  right: 30px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 1%;
  top: 5px;
  object-fit: cover;
}