<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Produto.css">
    <title>Pizzas</title>
</head>
<body>
    <div class="navbar">
    <img src="../static/imagens/logoTCC.jpg" alt="logo" class="logo">
<div class="perfil-container" onclick="window.location.href='../templates/perfil.html'">
        <img id="fotoPerfil" alt="Foto de perfil">
      </div>
    <div class="nav-links">
      <a href="../templates/Index.html">Início</a>
      <a href="../templates/menu.html">Menu</a>
      <a href="../templates/Inscriçao.html">Inscrição</a>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Pesquisar...">
    </div>
  </div>
    <div class="maincontainer">
        <div class="item1">
            <img src="../static/imagens/pizzahut.png" alt="pizzaria1">
            <h1>Inscrições por apenas 50 Reais mensais</h1>
            <button class="subscribe" onclick="window.location.href='../templates/Inscriçao.html'">Inscreva-se</button>
        </div>
        <div class="item2">
            <img src="../static/imagens/donatellos.jpg" alt="pizzaria2">
            <h1>Inscrições por apenas 60 reais mensais</h1>
            <button class="subscribe" onclick="window.location.href='../templates/inscriçao.html'">Inscreva-se</button>
        </div>

    </div>
    <script>
        window.onload = async () => {
  const res = await fetch("http://localhost:5000/perfil", {
    credentials: "include"
  });

  if (res.ok) {
    const usuario = await res.json();
    const foto = document.getElementById("fotoPerfil");

    if (usuario.foto_url) {
      foto.src = `http://localhost:5000${usuario.foto_url}`;
    } else {
      foto.src = '../static/imagens/default.png'; // imagem padrão se o usuário não tiver foto
    }
  }
};
    </script>
</body>
</html>