body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    position: absolute;
    left: 1%;
}

.foodimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
 
}


.item {
  
  background-color: #ff3b3b;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 10px;
  width: 37vh;
  height: 10vh;
  display: flex;
  align-items: center;
  
  
  }

  .item:hover {
    background-color: #ff3434;
    cursor: pointer;
    transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .item h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.Menus {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
    height: 60vh;   
    width: 100vh;
    
    border-radius: 50px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.lanches {
  display: flex;
margin: 20px;
align-items: center;
margin: 5px;
gap: 20px
}

.pizzas {
  display: flex;
margin: 20px;
align-items: center;
margin: 5px;
gap: 20px
}

.doces {
  display: flex;
margin: 20px;
align-items: center;
margin: 5px;
gap: 20px
}

.salgados {
  display: flex;
margin: 20px;
align-items: center;
margin: 5px;
gap: 20px
}

.japonesa {
  display: flex;
  align-items: center;
margin: 20px;
margin: 5px;
gap: 20px

}

.perfil-container {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }

#fotoPerfil {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  bottom: 15px;
  
}

.perfil-texto {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  font-family: Arial, sans-serif;
  position: absolute;
  ;
}