body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  min-height: 100vh;
  margin: 0;
}



.maincontainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 87px;
    padding-bottom: 85px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
    
}

.item1 {
    margin: 60px;
    margin-bottom: 15vh;
}



button {
    
        background-color: #ff0000;
        color: rgb(255, 255, 255);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px; 
        border-radius: 20px;  
        font-size: large; 
        font-weight: bold;
    
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    position: absolute;
    left: 1%;
    top: 5px;
  }

  .perfil-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .perfil-container:hover {
    background-color: #e0e0e0;
  }
  
  .perfil-texto {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

